
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-map" id="menu-popover" ui-sref="app.lists"  ng-show=true></button>
            </ion-nav-buttons>
            
            <!--<div class="tabs tabs-royal tabs-icon-left" id="upper-tabs">
                <a class="tab-item active">
                    <i class="icon ion-home"></i> Home
                </a>
                <a class="tab-item">
                    <i class="icon ion-map"></i> Maps
                </a>
            </div>-->
        </ion-nav-bar>
 
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="img/logo.png" class="avatar motion spin fade">
            <div class="menu-bottom">
                Eventus
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/components">
                    <i class="fa fa-home" aria-hidden="true"></i><span class="icon-text">Home</span>
                </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/lists">
                    <i class="icon ion-map"></i> <span class="icon-text">Maps</span>
                </ion-item>-->
                <ion-item nav-clear menu-close href="#/app/extensions">
                    <i class="fa fa-bookmark" aria-hidden="true"></i> <span class="icon-text">Bookmark</span>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="fbLogin()">
                    <i class="fa fa-facebook" id="facebook" aria-hidden="true"></i> <span class="icon-text">Login with Facebook</span>
                </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/lists">
                    Motion Lists
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/motion">
                    Motion Elements
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ink">
                    Ink
                </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
